@model CatalogPagingFilteringModel
@using Nop.Web.Models.Catalog;



@*sorting*@
@if (Model.AllowProductSorting)
{
    <h4>Sort by</h4>

    var selected = "";
    var i = 1;
    foreach (var sort in Model.AvailableSortOptions)
    {
        if (sort.Selected)
        {
            selected = "checked=\"checked\"";
        }
        else
        {
            selected = "";
        }

        <div class="radio-alternate">
            <input type="radio" id="sortby_@(i)" name="orderby" value="@(sort.Value)" @selected><label for="sortby_@(i)">@sort.Text 1</label>
        </div>

        @*<div class="radio-default">
                <input type="radio" id="paymentmethod_@(i)" name="paymentmethod" value="@(sort.Value)" class="radio-default" checked="">
                <label for="paymentmethod_@(i)">
                    <span></span> @sort.Text
                </label>
            </div>*@

        i++;
    }




    //codingan lama
    @*<div class="product-sorting">
            <span>@T("Catalog.OrderBy")</span>
            @Html.DropDownList("products-orderby", Model.AvailableSortOptions, new { onchange = "setLocation(this.value);" })
        </div>*@
}






@*page size*@
@*@if (Model.AllowCustomersToSelectPageSize)
{
    <div class="product-page-size"><span>@T("Catalog.PageSize")</span>@Html.DropDownList("products-pagesize", Model.PageSizeOptions, new { onchange = "setLocation(this.value);" })<span>@T("Catalog.PageSize.PerPage")</span></div>
}*@

@*view mode*@
@*@if (Model.AllowProductViewModeChanging)
{
    <div class="product-viewmode">
        <span>@T("Catalog.ViewMode")</span>
        @if (Model.AvailableViewModes.Count > 1)
        {
            var gridMode = Model.AvailableViewModes[0];
            var listMode = Model.AvailableViewModes[1];

            <a class="viewmode-icon grid @if(gridMode.Selected){<text>selected</text>}" href="@gridMode.Value" title="@gridMode.Text">@gridMode.Text</a>
            <a class="viewmode-icon list @if (listMode.Selected){<text>selected</text>}" href="@listMode.Value" title="@listMode.Text">@listMode.Text</a>
        }
    </div>
}*@
