@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Services.Localization
@using Nop.Web.Framework.Themes

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (string.IsNullOrEmpty(ViewBag.HideHeader))
{
    @Html.Action("HeaderLinks", "Common")
}

@{
    if (string.IsNullOrEmpty(ViewBag.HideMenu))
    {
        @Html.Partial("Menu");
    }

    if (IsSectionDefined("Left"))
    {
        @RenderSection("Left", false);
    }
}




 
    <div class="container">
       
            
                @RenderBody()
         
                @if (IsSectionDefined("Right"))
                {
                    @RenderSection("Right", false);
                }

          
        </div>
    </div>
    @Html.Action("Footer", "Common")







@section RootScripts{
    @if (IsSectionDefined("scripts"))
    {
        @RenderSection("scripts", required: false)
    }
}

@section RootHeaderSection{
    @if (IsSectionDefined("HeaderSection"))
    {
        @RenderSection("HeaderSection", false)}
}