@using Nop.Core
@using Nop.Core.Domain.Common;
@using Nop.Core.Infrastructure;
@{
    var displayMiniProfiler = EngineContext.Current.Resolve<Nop.Core.Domain.StoreInformationSettings>().DisplayMiniProfilerInPublicStore;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@Html.NopTitle(true)</title>
    <meta name="description" content="@(Html.NopMetaDescription())" />
    <meta name="keywords" content="@(Html.NopMetaKeywords())" />
    <meta name="Author" content="Kivee, flitts">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link href="~/Themes/v1/Content/homepage.css" rel="stylesheet" />
    <link href="~/Themes/v1/Content/Layout.css" rel="stylesheet" />
    <link href="~/Themes/v1/Content/ProductDetail.css" rel="stylesheet" />
    <link href="~/Themes/v1/Content/Default.css" rel="stylesheet" />
    <link href="~/Themes/v1/Content/Catalogue.css" rel="stylesheet" />

    @Styles.Render("~/Content/bootstrapcss")
    @Styles.Render("~/app/css")

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--[if lt IE 10]>
      <style>.transparent { opacity: 1; }</style>
    <![endif]-->


    @if (IsSectionDefined("RootHeaderSection"))
    {
        @RenderSection("RootHeaderSection", false)
    }

    @if (IsSectionDefined("HeaderSection"))
    {
        @RenderSection("HeaderSection", false)
    }

    @Scripts.Render("~/bundles/jquery")

</head>
<body>
    
    <div class="" style="padding-top:30px;">
        @RenderBody()
    </div>


    @Scripts.Render("~/bundles/bootstrapjs")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/app/script")

    @if (IsSectionDefined("RootScripts"))
    {
        @RenderSection("RootScripts", required: false)
    }


    <script type="text/javascript">
        @*disable right click*@
       $(document).ready(function () {
           $("img").on("contextmenu", function () {
               return false;
           });
       });
    </script>

    @*ajax loading window*@
    <div class="ajax-loading-block-window" style="display: none;">
        <div class="loading-image">
        </div>
    </div>

    <!--google analytics -->
    @*<script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-20339896-1', 'auto');
            ga('send', 'pageview');
        </script>*@

</body>
</html>