

<div id="sidebar-fixed" class="sidebar hidden-xs">
    <div class="sidebar-menu">



        <div class="list-group">
            <ul class="list-unstyled">
                <li class="list-group-item"><a href="~/">Back to shop</a></li>
                @*<li class="list-group-item"><a  href="@Url.RouteUrl("Topic", new {SeName = Html.GetTopicSeName("aboutus") })">@T("AboutUs")</a></li>
                    <li class="list-group-item">
                        <a href="#">
                            How to order
                        </a>
                    </li>
                    <li class="list-group-item">
                    <li class="list-group-item"><a href="@Url.RouteUrl("Topic", new {SeName = Html.GetTopicSeName("stockist") })">@T("stockist")</a></li>
                    <li class="list-group-item"><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>*@
            </ul>
        </div>
    </div>
</div>