@model CategoryModel
@using Nop.Core.Domain.Common;
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;


@{
    Html.AddTitleParts("Step 2: Choose Items");
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);

    var canonicalUrlsEnabled = EngineContext.Current.Resolve<SeoSettings>().CanonicalUrlsEnabled;
    if (canonicalUrlsEnabled)
    {
        var categoryUrl = Url.RouteUrl("Category", new { SeName = Model.SeName }, this.Request.Url.Scheme);
        Html.AddCanonicalUrlParts(categoryUrl);
    }

    var breadcrumbDelimiter = EngineContext.Current.Resolve<CommonSettings>().BreadcrumbDelimiter;
}


@{
    var pg_i = 0;

    var title = Model.Name;
    if (Model.Name.Equals("categories", StringComparison.OrdinalIgnoreCase))
    {
        title = "All Categories";
    }


    //current category ID
    int currentCategoryId = 0;
    if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
        Url.RequestContext.RouteData.Values["action"].ToString().Equals("category", StringComparison.InvariantCultureIgnoreCase))
    {
        currentCategoryId = Convert.ToInt32(Url.RequestContext.RouteData.Values["categoryId"].ToString());
    }


    //current product ID
    int currentProductId = 0;
    if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("product", StringComparison.InvariantCultureIgnoreCase) &&
        Url.RequestContext.RouteData.Values["action"].ToString().Equals("productdetails", StringComparison.InvariantCultureIgnoreCase))
    {
        currentProductId = Convert.ToInt32(Url.RequestContext.RouteData.Values["productId"].ToString());
    }

}

    <div class="byob">


        <div class="container">
            <div class="header">
                <h2>Step 2 of 4</h2>
                <h1>Choose your items</h1>
                <p>
                    We’ve hand-selected the best products in one place. Select from the items below and fill up your box!
                </p>
            </div>
        </div>

        <div class="container mb-5">
            @using (Html.BeginForm("Step2", "byob", FormMethod.Post, new { id = "form1", @class = "login-form" }))
            {
                @Html.AntiForgeryToken()
                
            <div class="byob-filter">
                <div class="row">
                    <div class="col-12">
                        <a data-toggle="collapse" href="#collapseFilter" role="button" aria-expanded="true" aria-controls="collapseFilter" class="filter__toogle">Filter</a>
                       
                    </div>
                </div>
                <div class="collapse show" id="collapseFilter">
                    <div class="filter_panel">
                        <div class="row">
                            <div class="col-12 col-lg-3">@Html.Partial("_CategorySelectors", Model, new ViewDataDictionary())</div>
                            <div class="col-12 col-lg-3">@Html.Partial("_ColorSelectors", Model.AvailableColors, new ViewDataDictionary())</div>
                            <div class="col-12 col-lg-3">@Html.Partial("_FilterPriceBox", Model.PagingFilteringContext.PriceRangeFilter, new ViewDataDictionary())</div>
                            <div class="col-12 col-lg-3">@Html.Partial("_CatalogSelectors", Model.PagingFilteringContext, new ViewDataDictionary())</div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-center mt-3">
                                <input type="submit" value="Apply" class="btn btn-default" style="min-width:150px;" />
                            </div>
                        </div>
                    </div>
                   
                    
                </div>

              
            </div>
            }
        </div>
      

        <div class="container">
            @if (Model.Products.Any())
            {

                <div class="row catalogue-img">
                    @foreach (var item in Model.Products)
                    {
                        var colCss = "col-6 col-sm-6 col-md-3 col-lg-3";
                        <div class="@colCss catalog-line">
                            @Html.Partial("_ProductBox", item)
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="col-main-slim mt-5"><h3>We're still preparing the collection. Please stay tuned.</h3></div>

            }

            <div class="gap"></div>


        </div>


    </div>


<div class="" id="byobcart-wrapper">
    @Html.Action("FlyoutShoppingCartBYOB", "ShoppingCart")
</div>


@section scripts{

    <script src="~/Scripts/app/fancyBox/jquery.fancybox.pack.js"></script>

    <script>
        $(document).ready(function () {

            $(".clean").on("click", function (e) {
            e.preventDefault();
            var url = $(this).attr("href");
            $.fancybox({
                href: url,
                type: 'iframe',
                'speedIn': 600,
                'speedOut': 200,
                'autoSize': true,
                'type': 'iframe',
                'autoCenter': true,
                'centerOnScroll': true
                //,'afterClose': function () {
                //    parent.location.reload(true);
                //}
                , fitToView: false,
                autoSize: false,
                afterLoad: function () {
                    this.width = '60%';
                    //this.height = '80%';
                }
            });

            return false;
        });
	
        });


        $("#byobcart-wrapper").click(function () {
            $("#byobcart").toggleClass("show");
    });

    </script>


  

}


@section HeaderSection{

    <link href="~/Scripts/app/fancyBox/jquery.fancybox.css" rel="stylesheet" />
}
