@model CategoryModel
@using Nop.Core.Domain.Common;
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;

@{
    ViewBag.Title = "Step 3: Card";
}



<div class="byob">
    @*<div class="steps">
            <div class="container">
                { Steps breadcrumb}
            </div>

        </div>*@

    <div class="container header">
        <h2>Step 3 of 3</h2>
        <h1>Choose your Box</h1>
        <p>Select the perfect box from our design selection<br/></p>
        @* <h1>Personalise Your Box &amp; Card</h1> *@
        @* <p> *@
            @* Make your gift extra personal, simply add name and greeting<br /> *@
            @* Choose the perfect box for the occasion from our selection of exclusive designs.<br /> *@
            @*Our team handwrites each and every note to keep your gifts personal. (Plus, we have great handwriting.)*@
        @* </p> *@
    </div>


    @if (Model.Products.Any())
    {

        @* using (Html.BeginForm("step3", "byob", FormMethod.Post, new { id = "form1", @class = "login-form" }))
        {
            @Html.AntiForgeryToken()

            <div class="container mb-5 step-top">
                <div class="row">

                    @foreach (var item in Model.Products)
                    {
                        <div class="col-6 col-md-3 catalog-line">
                            <button type="submit" name="id" value="@item.Id" class="box__option clean">
                                <img src="@item.DefaultPictureModel.ImageUrl" class="img-fluid" />
                                <h3>@item.Name</h3>
                            </button>
                        </div>
                    }
                </div>
            </div>
        } *@

        //for local storage
        <div class="container mb-5 step-top">
            <div class="row">

                @foreach (var item in Model.Products)
                {
                    <div class="col-6 col-md-3 catalog-line">
                        <button type="submit" name="id" value="@item.Id" class="box__option clean" onclick="saveDataStep3('step3', '@item.Id')">
                            <img src="@item.DefaultPictureModel.ImageUrl" class="img-fluid" />
                            <h3>@item.Name</h3>
                        </button>
                    </div>
                }
            </div>
        </div>

    }
    else
    {
        <div class="col-main-slim mt-5"><h3>We're still preparing the collection. Please stay tuned.</h3></div>

    }


    <div class="container">
        <hr />
        <div class="buttons mt-30">
            <a href="~/byob/step2" class="btn btn-default">Back to Previous Step</a>
        </div>
    </div>
</div>


@*<div class="" id="byobcart-wrapper">
    @Html.Action("FlyoutShoppingCartBYOB", "ShoppingCart")
</div>




@section scripts{
<script>
    $("#byobcart-wrapper").click(function () {
        $("#byobcart").toggleClass("show");
    });
    </script>
   
}*@

<script>
    function saveDataStep3(attribute, value){
        let products = [value];
        let product_obj = {
            id: value,
            qty: 1,
            variant: 0,
            variant_value: 0
        }
        const step3 = localStorage.getItem('products');
        const products_obj = localStorage.getItem('products_obj');
        let old_products = JSON.parse(step3);
        let products_obj_parse = JSON.parse(products_obj);
        products = [...products, ...old_products];
        if (products_obj_parse.indexOf(value) > -1) {
            products_obj_parse = products_obj_parse.filter(item => item.id != value)
            products_obj_parse[index].qty = qty + products_obj_parse[index].qty;
        }
        else if (products_obj_parse.indexOf(value) == -1) {
            products_obj_parse.push(product_obj)
        }

        localStorage.setItem("products_obj", JSON.stringify(products_obj_parse));
        localStorage.setItem("products", JSON.stringify([... new Set(products)]));
        localStorage.setItem(attribute, value);
        window.location.href = `/byob/Step3a/${value}`
    }
</script>