@model Nop.Web.Models.Flitts.BYOB.CardModel

@{
    ViewBag.Title = "Step 3: Card";
}


@*@Html.Partial("_Progress", new { step = 3 })*@

    <div class="byob">

        <div class="container header">
            <h2>Step 3 of 4</h2>
            <h1>Choose your Card</h1>
            <p>
                Choose the perfect card for the occasion from our selection of exclusive designs.<br />
                Our team handwrites each and every note to keep your gifts personal. (Plus, we have great handwriting.)
            </p>
        </div>



        <div class="col-main">
            <div class="row mb-5">
                <div class="col-12 col-md-6 col-lg-5">
                    @if (Model != null)
                    {
                        <img src="@Model.ImgUrl" class="img-fluid" />
                    }
                </div>
                <div class="col-12 col-md-6 col-lg-7">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="message-error">
                            @Html.ValidationSummary(true)
                        </div>
                        <div class="fieldset">

                            <div class="form-group text-left">
                                To
                                @Html.ValidationMessageFor(model => model.To)
                                @Html.TextBoxFor(model => model.To, new { @class = "form-control contactus-form" })
                            </div>

                            <div class="form-group text-left">
                                From
                                @Html.TextBoxFor(model => model.From, new { @class = "form-control contactus-form" })
                            </div>

                            <div class="form-group contactus-form text-left">
                                Message
                                @Html.ValidationMessageFor(model => model.Message)
                                @Html.TextAreaFor(model => model.Message, new { @class = "enquiry form-control" })
                            </div>


                            <div class="form-group text-left">
            <div class="radio-default">
                <input type="checkbox" name="cbIsBlank"  class="radio-default" id="cbCard"><label for="cbCard"><span></span> I want blank card and outside the box so I can write myself!</label>
            </div>
        </div>


                           

                            <div class="buttons mt-30">
                                <input type="hidden" name="isBlank" value="@Model.isBlank" id="blankcard" />
                                <input type="hidden" name="CardId" value="@Model.CardId" />
                                <button type="submit" name="submit" class="btn btn-default w-100">Next Step</button>
                            </div>
                        </div>
                    }
                </div>
            </div>


            <hr />
            <div class="buttons mt-30">
                <a href="~/byob/step3" class="btn btn-default">Change Card</a>
            </div>
        </div>

       
    </div>

<br /><br /><br />
   


    @section scripts{

        <script>

              $('#cbCard').change(function() {
                //if(this.checked) {
                //    var returnVal = confirm("Are you sure?");
                //    $(this).prop("checked", returnVal);
                //}
                $('#blankcard').val(this.checked);        
    });
        </script>

    }


    @section HeaderSection{

    }


