@model CatalogPagingFilteringModel.PriceRangeFilterModel
@using Nop.Web.Models.Catalog;
@{
    var selectedItem = Model.Items.FirstOrDefault(x => x.Selected);
}
@helper FormatPriceRangeText(CatalogPagingFilteringModel.PriceRangeFilterItem filterItem)
{
    string rangeText = "";
    if (String.IsNullOrWhiteSpace(filterItem.From))
    {
        rangeText = string.Format(T("Filtering.PriceRangeFilter.Under").Text, string.Format("<span class=\"PriceRange\">{0}</span>", filterItem.To));
    }
    else if (String.IsNullOrWhiteSpace(filterItem.To))
    {
        rangeText = string.Format(T("Filtering.PriceRangeFilter.Over").Text, string.Format("<span class=\"PriceRange\">{0}</span>", filterItem.From));
    }
    else
    {
        rangeText = string.Format("<span class=\"PriceRange\">{0}</span> - <span class=\"PriceRange\">{1}</span>", filterItem.From, filterItem.To);
    }
    <text>@Html.Raw(rangeText)</text>
}


<h4>@T("Filtering.PriceRangeFilter")</h4>

@if (Model.Items.Any())
{
    foreach (var item in Model.Items)
    {
        var price_tag = item.To == null ? 10000000 : 
            item.To == "IDR 1,000,000" ? 1000000 :
            item.To == "IDR 500,000" ? 500000 : 200000;
        var price_min = item.To == null ? 1000000 : 
            item.To == "IDR 1,000,000" ? 500000 :
            item.To == "IDR 500,000" ? 200000 : 0;
        var from = item.From;
        var to = item.To;
        <div class="radio-alternate">
            <a style="cursor: pointer;" id="price_normal_@from-@to">@FormatPriceRangeText(item)</a>
            @* <a style="cursor: pointer;" name="SortProduct" data-price="@price_tag" data-price-min="@price_min" id="checkbox-price">@FormatPriceRangeText(item)</a> *@
        </div>
    }
    <div class="radio-alternate-new">
        <p class="removeshowfilter-price" style="cursor: pointer;"></p>
    </div>
}

<script>
    @* function addParameterPrice (param) {
        let param_sort = param.toString()
        if (param_sort.substring(1,0) == '-') param_sort = `0${param_sort}`
        
        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = window.location.search.substring(1),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                }
            }
            return false;
        };

        var data_val = getUrlParameter('price')
        let new_url = "";
        if (data_val) {
            if (window.location.search && window.location.search.indexOf('price=') != -1) {
                new_url = window.location.search.replace( /price=\w*\d*/, "price=" + data_val.toString());
            } else if (window.location.search) {
                new_url = window.location.search + "&price=" + data_val.toString();
            } else {
                new_url = window.location.search + "?price=" + data_val.toString();
            }
        }
        else {
            if (window.location.search) {
                new_url = window.location.search + "&price=" + param_sort.toString();
            } else {
                new_url = window.location.search + "?price=" + param_sort.toString();
            }
        }
        window.location.href = new_url;
    }; *@
     $("a[id^='price_normal_']" ).click(function() {
        var id = this.id.replace("price_normal_", "");
        let param_sort = id.replace(/IDR/g,'').replace(/,/g,'').replace(/ /g, '').trim()
        
        if (window.location.search && window.location.search.indexOf('price=') != -1) {
            let text=window.location.search.split("=")[1];
            new_url = window.location.search.replace( `price=${text}`, "price=" + param_sort);
        } else if (window.location.search) {
            new_url = window.location.search + "&price=" + param_sort;
        } else {
            new_url = window.location.search + "?price=" + param_sort;
        }
        window.location.href = new_url;
    });
    
</script>