@model CustomerRewardPointsModel
@using Nop.Web.Models.Customer
@using Nop.Web.Models.Order
@{
    //Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
}


@*@section left
    {
        @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.RewardPoints })
    }*@





<div class="col-main mt-5 mijnaccount">

    <h1>Loyalty Points</h1>

    <div class="reward-points-overview">
        
        <div class="current-balance">@T("RewardPoints.CurrentBalance", Model.RewardPointsBalance, Model.RewardPointsAmount)</div>
       
        @if (Model.MinimumRewardPointsBalance > 0)
        {
            <div class="min-balance">@T("RewardPoints.MinimumBalance", Model.MinimumRewardPointsBalance, Model.MinimumRewardPointsAmount)</div>
        }
    </div>
    <div class="section reward-points-history mt-5">
        <div class="title">
            <strong>@T("RewardPoints.History")</strong>
        </div>
        <br />

        @if (Model.RewardPoints.Count > 0)
        {
            <div class="table-wrapper">
                <table class="table basic bestelling order-history">
                  
                    <tr class="text-uppercase">
                        <td style="padding-left:0;">@T("RewardPoints.Fields.Date")</td>
                        <td>@T("RewardPoints.Fields.Points")</td>
                        <td>@T("RewardPoints.Fields.PointsBalance")</td>
                        <td>
                            @T("RewardPoints.Fields.Message")
                        </td>
                    </tr>





                    <tbody>
                        @for (int i = 0; i < Model.RewardPoints.Count; i++)
                        {
                            var item = Model.RewardPoints[i];
                        <tr @(i % 2 == 0 ? Html.Raw(" class=\"odd\"") : Html.Raw(" class=\"even\""))>

                            <td style="padding-left:0;">
                                @string.Format("{0:dd.MM.yy}", item.CreatedOn)
                            </td>

                           
                            <td class="points">
                                @item.Points
                            </td>
                            <td class="points-balance">
                                @item.PointsBalance
                            </td>
                            <td class="message">
                                @item.Message
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div class="no-data mt-5">
                @T("RewardPoints.NoHistory")
            </div>
        }
    </div>

   

</div>