@model ProductDetailsModel.AddToCartModel
@using Nop.Web.Models.Catalog;
@using Nop.Core.Domain.Orders;



@if (!Model.DisableBuyButton || Model.CustomerEntersPrice)
{
    @*<div class="collapse" style="margin-top:20px;">
            <div class="card card-body">
                <div class="col-md-12" style="margin-bottom:40px">
                    <div class="col-md-3" style="margin-left: -30px;">
                        <input type="button" class="btn colorEmail-btn font-gillsans"
                               value="ADD TO CART" style="background-color:white;border:1px solid;
                                                                border-color:black;font-size:10px" />
                    </div>
                    <div class="col-md-5 col-md-offset-4">
                        <span>24h expedit <br>Free delivery and returns</span>
                    </div>
                </div>
            </div>
        </div>*@




    <div class="add2cart">
        @if (Model.UpdatedShoppingCartItemId > 0)
        {
            @Html.HiddenFor(x => x.UpdatedShoppingCartItemId)
        }

        @if (!Model.DisableBuyButton)
        {





            <div class="row">
                <div class="col-5">


                    <div class="select-quantity">
                        @if (Model.CustomerEntersPrice)
                        {
                            <div class="customer-entered-price">
                                <div class="price-input">
                                    @Html.LabelFor(model => model.CustomerEnteredPrice, new { @class = "enter-price-label" }, ":")
                                    @*round price*@
                                    @Html.TextBox("CustomerEnteredPrice", Convert.ToInt32(Math.Ceiling(Model.CustomerEnteredPrice)), new { @class = "enter-price-input" })
                                </div>
                                <div class="price-range">
                                    @Model.CustomerEnteredPriceRange
                                </div>
                            </div>
                        }

                        @if (!String.IsNullOrEmpty(Model.MinimumQuantityNotification))
                        {
                            <div class="min-qty-notification">@Model.MinimumQuantityNotification</div>
                        }

                        @*<select id="EnteredQuantity" name="EnteredQuantity" class="">
                                @for(int i=1; i<=10;i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>*@


                        @if (Model.AllowedQuantities.Count > 0)
                        {
                            @Html.DropDownListFor(model => model.EnteredQuantity, Model.AllowedQuantities, "QTY", new { @class = "form-control ddlAttrb" })

                        }
                        else
                        {

                            <div class="d-flex justify-content-between" style="height: 100%;">
                                @*@Html.HiddenFor(model => model.EnteredQuantity)*@

                                <input id="sub" type='button' value='-' class='sub quantity-btn qtyminus' field='EnteredQuantity' onclick="qtyProduct(1)"/>
                                @Html.TextBoxFor(model => model.EnteredQuantity, new { @class = "qty", id = "EnteredQuantity", type = "number" })
                                <input id="add" type='button' value='+' class='add quantity-btn qtyplus' field='EnteredQuantity' onclick="qtyProduct(2)"/>

                                @*@Html.TextBoxFor(model => model.EnteredQuantity, new { @class = "form-control" })*@
                            </div>

                            //when a customer clicks 'Enter' button we submit the "add to cart" button (if visible)
                            <script type="text/javascript">
                                $(document).ready(function () {
                                    $("#@Html.FieldIdFor(model => model.EnteredQuantity)").keydown(function (event) {
                                        if (event.keyCode == 13) {
                                            $("#add-to-cart-button-@Model.ProductId").click();
                                            return false;
                                        }
                                    });
                                });
                            </script>

                        }
                    </div>

                </div>
                <div class="col-7">
                    @{

                        var addToCartText = "";
                        if (Model.UpdatedShoppingCartItemId > 0)
                        {
                            addToCartText = T("ShoppingCart.AddToCart.Update").Text;
                        }
                        else
                        {
                            addToCartText = "Add to Box";  //T("ShoppingCart.AddToCart").Text;
                            if (Model.IsRental)
                            {
                                addToCartText = T("ShoppingCart.Rent").Text;
                            }
                            if (Model.AvailableForPreOrder)
                            {
                                addToCartText = T("ShoppingCart.PreOrder").Text;
                            }
                        }
                    }




                    <input type="hidden" name="productId" value="@Model.ProductId" />

                    <button type="button" id="add-to-cart-button-@Model.ProductId"
                            class="btn btn-default btn-addcart button_sare"
                            data-productid="@Model.ProductId"
                            onclick="saveDataAddBag('step2', @Model.ProductId, '#product-details-form')">
                        <span>@addToCartText</span>
                    </button>
                    @* <button type="button" id="add-to-cart-button-@Model.ProductId"
                            class="btn btn-default btn-addcart button_sare"
                            data-productid="@Model.ProductId"
                            onclick="AjaxCart.addproducttocart_details('/shoppingcart/AddProductToCartBYOB', '#product-details-form'); return false;">
                        <span>@addToCartText</span>
                    </button> *@


                </div>
            </div>





        }
    </div>

    <div id="add2cart-notification" title="@T("Common.Notification")" style="display:none;"></div>
}


<script>
    let qty = 1;
    function qtyProduct(type) {
        if (type == 2) qty += 1;
        else if (type == 1) qty -= 1;

        if (qty <= 1) qty = 1;
    }

    function saveDataAddBag(attribute, value, product_id_form){
        let product_obj = {
            id: value,
            qty,
            variant: 0,
            variant_value: 0
        }
        let all_products_parse_new = false;
        let products = [value]
        const all_products = localStorage.getItem('products');
        const all_products_obj = localStorage.getItem('products_obj');
        
        const step2 = localStorage.getItem('step2');
        let all_products_parse = JSON.parse(all_products);
        let all_products_obj_parse = JSON.parse(all_products_obj);
        let old_products = JSON.parse(step2);
        
        /* if (step2 == null) {
            localStorage.setItem(attribute, JSON.stringify(products));
        }
        else {
            products = [...products, ...old_products]
            localStorage.setItem(attribute, JSON.stringify([... new Set(products)]));
        } */

        if (step2) {
            products = [...products, ...old_products]
        }
        let combine_products = [...all_products_parse, ...products]

        if (all_products_parse.indexOf(value) > -1) {
            let index = all_products_obj_parse.findIndex(item => item.id == value)
            all_products_obj_parse[index].qty = qty + all_products_obj_parse[index].qty;
        }
        else if (all_products_parse.indexOf(value) == -1) {
            all_products_obj_parse.push(product_obj)
            all_products_parse_new = true;
        }

        //localStorage.setItem("products_obj", JSON.stringify(all_products_obj_parse));
        //localStorage.setItem("products", JSON.stringify([... new Set(combine_products)]));
        
        //to recall the FlyoutShoppingCartBYOB
        AjaxCart.addproducttocart_details('/shoppingcart/AddProductToCartBYOB', product_id_form);

        //check if the box is exceed the limit size
        setTimeout(() => { 
            let alert_message = $('#add2cart-notification').text()
            if (alert_message.trim().toLowerCase() == "exceed box size") {
                products = products.filter(item => item == value);
                combine_products = products.filter(item => item == value);
                if (!all_products_parse_new) {
                    let index = all_products_obj_parse.findIndex(item => item.id == value)
                    all_products_obj_parse[index].qty = all_products_obj_parse[index].qty - qty;
                }
                 else if (all_products_parse_new) {
                    all_products_obj_parse = all_products_obj_parse.filter(item => item.id != value)
                }

            }
            localStorage.setItem(attribute, JSON.stringify([... new Set(products)]));
            localStorage.setItem("products_obj", JSON.stringify(all_products_obj_parse));
            localStorage.setItem("products", JSON.stringify([... new Set(combine_products)]));
        }, 1000);

    }

    function removeData(value) {
        const all_products = localStorage.getItem('products');
        const step2 = localStorage.getItem('step2');
        var all_products_parse = JSON.parse(all_products);
        var old_products = JSON.parse(step2);
        let combine_products = all_products_parse.filter(item => item != value);
        let products = old_products.filter(item => item != value);
        localStorage.setItem('step2', JSON.stringify(products));
        localStorage.setItem('products', JSON.stringify(combine_products));

    }
    

</script>








