@model CheckoutBillingAddressModel
@using Nop.Web.Models.Checkout;
@{

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);

    //ViewBag.HideMenu = "true";

}



@section Left{
    @*@Html.Partial("MenuStatic")*@

    @*@Html.Action("CheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Address })*@
}




<div class="container mt-5 checkout">
    <div class="row catalogue-img d-flex justify-content-center">
        <div class="cart-page">
            <div class="cart-header">
                <h1 class="text-left mb-2">Checkout</h1>
            </div>

            <div class="page-body checkout-data">
                <ol class="list-unstyled opc" id="checkout-steps">
                    <li id="opc-billing" class="tab-section allow">
                        <div class="step-title checkout-margin-title" data-toggle="collapse" href="#checkout-step-billing" role="button" aria-expanded="false" aria-controls="checkout-step-billing">
                            <p>@T("Checkout.BillingAddress")</p>
                        </div>
                        <div id="checkout-step-billing" class="step a-item collapse show">
                           <div id="checkout-billing-load">@ShowContent()</div>
                        </div>
                    </li>

                    <li id="opc-shipping" class="tab-section">
                        <div class="step-title checkout-margin-title"><p class="title">@T("Checkout.ShippingAddress")</p></div>
                    </li>

                    <li id="opc-shipping_method" class="tab-section"><div class="step-title checkout-margin-title"><p class="title">@T("Checkout.ShippingMethod")</p></div> 
                    </li>

                    <li id="opc-payment_method" class="tab-section">
                        <div class="step-title checkout-margin-title"><p class="title">@T("Checkout.PaymentMethod")</p></div>
                    </li>

                    <li id="opc-confirm_order" class="tab-section">
                        <div class="step-title checkout-margin-title"><p class="title">@T("Checkout.ConfirmOrder")</p></div>
                    </li>
                </ol>
            </div>


        </div>

    </div>

</div>



@helper ShowContent()
{
    <div class="pnl__checkout">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <p style="margin:10px 0;">@T("Checkout.SelectBillingAddress")</p>
                        </div>
                        <div class="panel-body">
                            <div class="checkout-blox">
                                @if (Model.ExistingAddresses.Count > 0)
                                {
                                    using (Html.BeginRouteForm("CheckoutBillingAddress", FormMethod.Post))
                                    {
                                        foreach (var item in Model.ExistingAddresses)
                                        {
                                        <div class="address-item">
                                            <ul class="address-box list-unstyled ">
                                                <li style="">
                                                    @item.FirstName @item.LastName

                                                    @if (item.CompanyEnabled && !String.IsNullOrEmpty(item.Company))
                                                    {
                                                        <br />@item.Company
                                                    }

                                                    @if (item.StreetAddressEnabled)
                                                    {
                                                        <br />@item.Address1
                                                    }
                                                    @if (item.StreetAddress2Enabled && !String.IsNullOrEmpty(item.Address2))
                                                    {
                                                        <br />@item.Address2
                                                    }
                                                    @if (item.CityEnabled || item.StateProvinceEnabled || item.ZipPostalCodeEnabled)
                                                    {
                                                        if (item.CityEnabled)
                                                        {
                                                            <br />@item.City
                                                        }
                                                        if (item.CityEnabled && (item.StateProvinceEnabled || item.ZipPostalCodeEnabled))
                                                        {
                                                            <text>,</text>
                                                        }
                                                        @*@if (item.StateProvinceEnabled)
                                {
                                 @item.StateProvinceName
                                 }*@
                                                    if (item.ZipPostalCodeEnabled)
                                                    {
                                                            @item.ZipPostalCode
                                                        }
                                                    }
                                                    @if (item.CountryEnabled && !String.IsNullOrEmpty(item.CountryName))
                                                    {
                                                        <br />@item.CountryName
                                                    }

                                                    @if (!String.IsNullOrEmpty(item.FormattedCustomAddressAttributes))
                                                    {
                                                        <br />
                                                        @Html.Raw(item.FormattedCustomAddressAttributes)
                                                    }


                                                    <br />@item.Email
                                                    <br />P: @item.PhoneNumber

                                                    @*@if (item.FaxEnabled)
                            {
                                <br />
                                <label>@T("Address.Fields.FaxNumber"):</label>
                                <span>@item.FaxNumber</span>

                            }*@

                                                </li>


                                            </ul>
                                            <div class="select-button">
                                                <input type="button" value="@T("Checkout.BillToThisAddress")" class="btn btn-default" onclick="setLocation('@Url.RouteUrl("CheckoutSelectBillingAddress", new { addressId = item.Id })') " />
                                                <br /><br />
                                            </div>
                                        </div>
                                        }
                                    }

                                }
                                else
                                {
                                    <p>There is no address. Please add an address</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>




                <div class="col-12 col-md-6">
                    <!-- billing -->
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            @if (Model.ExistingAddresses.Count > 0)
                            {
                                <p style="margin:10px 0;">@T("Checkout.OrEnterNewAddress")</p>
                            }
                            else
                            {
                                <p style="margin:10px 0;">@T("Checkout.EnterBillingAddress")</p>
                            }
                        </div>
                        <div class="panel-body">
                            <div class="checkout-blox">
                                @using (Html.BeginForm("NewBillingAddress", "Checkout", FormMethod.Post, new { id = "form1", @class = "login-form" }))
                                {
                                    <div class="enter-address">

                                        @{ 


                                            var validationSummary = Html.ValidationSummary(true);

                                            if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                                            {
                                                <div class="message-error">@validationSummary</div>
                                            }

                                            var dataDictAddress = new ViewDataDictionary();
                                            //Merge ModelState (required for validation)
                                            dataDictAddress.ModelState.Merge(ViewData.ModelState);
                                            dataDictAddress.TemplateInfo.HtmlFieldPrefix = "NewAddress";
                                            @Html.Partial("_CreateOrUpdateAddress", Model.NewAddress, dataDictAddress)


                                            }

                                    </div>
                                    <div class="buttons  mt-default" style="text-align:right;">
                                        <input type="submit" name="nextstep" value="@T("Common.Continue")" onclick="validateMyForm(event);" class="btn btn-default" />
                                    </div>
                                }
                                </div>
                        </div>
                    </div>


                </div>


            </div>
       


    </div>
}



<script>
    $( "#NewAddress_CountryId" ).change(function() {
        if (document.getElementById("NewAddress_CountryId").value != 0) {
            $('#NewAddress_CountryId').css('cssText', 'color: #000;');
        }
        else {
            $('#NewAddress_CountryId').css('cssText', 'color: #dc3545; border-bottom: 0.5px solid #dc3545 !important');
        }
    });
    $( "#NewAddress_City" ).change(function() {
        if (document.getElementById("NewAddress_City").value != 0) {
            $('#NewAddress_City').css('cssText', 'color: #000;');
        }
        else {
            $('#NewAddress_City').css('cssText', 'color: #dc3545; border-bottom: 0.5px solid #dc3545 !important');
        }
    });
    $( "#NewAddress_StateProvinceId" ).change(function() {
        if (document.getElementById("NewAddress_StateProvinceId").value != 0) {
            $('#NewAddress_StateProvinceId').css('cssText', 'color: #000;');
        }
        else {
            $('#NewAddress_StateProvinceId').css('cssText', 'color: #dc3545; border-bottom: 0.5px solid #dc3545 !important');
        }
    });

    $( "#NewAddress_FirstName" ).change(function() {
        if ($('input[id=NewAddress_FirstName]').val().length > 0) {
            $('input[id=NewAddress_FirstName]').removeClass('alert-placeholder');
            $('input[id=NewAddress_FirstName]').css('cssText', 'border-bottom: 0.5px solid #707070');
        }
        else {
            $('input[id=NewAddress_FirstName]').css('cssText', 'border-bottom: 0.5px solid #dc3545 !important');
            $('input[id=NewAddress_FirstName]').addClass('alert-placeholder');
        }
    });
    $( "#NewAddress_LastName" ).change(function() {
        if ($('input[id=NewAddress_LastName]').val().length > 0) {
            $('input[id=NewAddress_LastName]').removeClass('alert-placeholder');
            $('input[id=NewAddress_LastName]').css('cssText', 'border-bottom: 0.5px solid #707070');
        }
        else {
            $('input[id=NewAddress_LastName]').css('cssText', 'border-bottom: 0.5px solid #dc3545 !important');
            $('input[id=NewAddress_LastName]').addClass('alert-placeholder');
        }
    });

    $( "#NewAddress_Email" ).change(function() {
        if ($('input[id=NewAddress_Email]').val().length > 0) {
            $('input[id=NewAddress_Email]').removeClass('alert-placeholder');
            $('input[id=NewAddress_Email]').css('cssText', 'border-bottom: 0.5px solid #707070');
        }
        else {
            $('input[id=NewAddress_Email]').css('cssText', 'border-bottom: 0.5px solid #dc3545 !important');
            $('input[id=NewAddress_Email]').addClass('alert-placeholder');
        }
    });
    $( "#NewAddress_Address1" ).change(function() {
        if ($('input[id=NewAddress_Address1]').val().length > 0) {
            $('input[id=NewAddress_Address1]').removeClass('alert-placeholder');
            $('input[id=NewAddress_Address1]').css('cssText', 'border-bottom: 0.5px solid #707070');
        }
        else {
            $('input[id=NewAddress_Address1]').css('cssText', 'border-bottom: 0.5px solid #dc3545 !important');
            $('input[id=NewAddress_Address1]').addClass('alert-placeholder');
        }
    });
    $( "#NewAddress_ZipPostalCode" ).change(function() {
        if ($('input[id=NewAddress_ZipPostalCode]').val().length > 0) {
            $('input[id=NewAddress_ZipPostalCode]').removeClass('alert-placeholder');
            $('input[id=NewAddress_ZipPostalCode]').css('cssText', 'border-bottom: 0.5px solid #707070');
        }
        else {
            $('input[id=NewAddress_ZipPostalCode]').css('cssText', 'border-bottom: 0.5px solid #dc3545 !important');
            $('input[id=NewAddress_ZipPostalCode]').addClass('alert-placeholder');
        }
    });
    $( "#NewAddress_PhoneNumber" ).change(function() {
        if ($('input[id=NewAddress_PhoneNumber]').val().length > 0) {
            $('input[id=NewAddress_PhoneNumber]').removeClass('alert-placeholder');
            $('input[id=NewAddress_PhoneNumber]').css('cssText', 'border-bottom: 0.5px solid #707070');
        }
        else {
            $('input[id=NewAddress_PhoneNumber]').css('cssText', 'border-bottom: 0.5px solid #dc3545 !important');
            $('input[id=NewAddress_PhoneNumber]').addClass('alert-placeholder');
        }
    });

    function validateMyForm(e) {
        if (
            //$('input[id=NewAddress_Company]').val().length > 0  &&
            $('input[id=NewAddress_FirstName]').val().length > 0  &&
            $('input[id=NewAddress_LastName]').val().length > 0 &&
            $('input[id=NewAddress_Email]').val().length > 0 &&
            $('input[id=NewAddress_Address1]').val().length > 0 &&
            document.getElementById("NewAddress_CountryId").value > 0 &&
            document.getElementById("NewAddress_City").value > 0 &&
            document.getElementById("NewAddress_StateProvinceId").value > 0 &&
            $('input[id=NewAddress_ZipPostalCode]').val().length > 0 &&
            $('input[id=NewAddress_PhoneNumber]').val().length > 0
        ) {
                $('input[id=NewAddress_FirstName]').css('cssText', 'border-bottom: 0.5px solid #707070 !important');
                $('input[id=NewAddress_LastName]').css('cssText', 'border-bottom: 0.5px solid #707070 !important');
                $('input[id=NewAddress_Email]').css('cssText', 'border-bottom: 0.5px solid #707070 !important');
                $('input[id=NewAddress_Address1]').css('cssText', 'border-bottom: 0.5px solid #707070 !important');
                $('input[id=NewAddress_ZipPostalCode]').css('cssText', 'border-bottom: 0.5px solid #707070 !important');
                $('input[id=NewAddress_PhoneNumber]').css('cssText', 'border-bottom: 0.5px solid #707070 !important');
                $('#NewAddress_CountryId').css('cssText', 'border-bottom: 0.5px solid #707070 !important');;
                $('#NewAddress_StateProvinceId').css('cssText', 'border-bottom: 0.5px solid #707070 !important');;
                $('#NewAddress_City').css('cssText', 'border-bottom: 0.5px solid #707070 !important');;

            return true;
        } 
        else {
            e.preventDefault();
            if ($('input[id=NewAddress_FirstName]').val().length == 0) {
                $('input[id=NewAddress_FirstName]').css('cssText', 'border-bottom: 0.5px solid #dc3545 !important');
                $('input[id=NewAddress_FirstName]').addClass('alert-placeholder');
            }

            if ($('input[id=NewAddress_LastName]').val().length == 0) {
                $('input[id=NewAddress_LastName]').css('cssText', 'border-bottom: 0.5px solid #dc3545 !important');
                $('input[id=NewAddress_LastName]').addClass('alert-placeholder');
            }

            if ($('input[id=NewAddress_Email]').val().length == 0) {
                $('input[id=NewAddress_LastName]').addClass('alert-placeholder');
                $('input[id=NewAddress_Email]').css('cssText', 'border-bottom: 0.5px solid #dc3545 !important');
            }

            if ($('input[id=NewAddress_Address1]').val().length == 0) {
                $('input[id=NewAddress_Address1]').addClass('alert-placeholder');
                $('input[id=NewAddress_Address1]').css('cssText', 'border-bottom: 0.5px solid #dc3545 !important');
            }

            if ($('input[id=NewAddress_ZipPostalCode]').val().length == 0) {
                $('input[id=NewAddress_ZipPostalCode]').addClass('alert-placeholder');
                $('input[id=NewAddress_ZipPostalCode]').css('cssText', 'border-bottom: 0.5px solid #dc3545 !important');
            }

            if ($('input[id=NewAddress_PhoneNumber]').val().length == 0) {
                $('input[id=NewAddress_PhoneNumber]').addClass('alert-placeholder');
                $('input[id=NewAddress_PhoneNumber]').css('cssText', 'border-bottom: 0.5px solid #dc3545 !important');
            }

            if (document.getElementById("NewAddress_CountryId").value == 0) {
                $('#NewAddress_CountryId').css('cssText', 'color: #dc3545; border-bottom: 0.5px solid #dc3545 !important');
            }

            if (document.getElementById("NewAddress_StateProvinceId").value == 0) {
                $('#NewAddress_StateProvinceId').css('cssText', 'color: #dc3545; border-bottom: 0.5px solid #dc3545 !important');
            }
            
            if (document.getElementById("NewAddress_City").value == 0) {
                $('#NewAddress_City').css('cssText', 'color: #dc3545; border-bottom: 0.5px solid #dc3545 !important');
            }
            alert(`Please fill all necessary address detail to continue`)
        }
    }
</script>
