@model CustomerAddressEditModel
@using Nop.Web.Models.Customer;
@{

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    ViewBag.HideMenu = "true";
    
}

@*@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.Addresses })
}*@


<section class="col-main mt-large mijnaccount">
    <div class="row">
        <div class="col-md-6 address-book-form">
            <h1>@T("Account.CustomerAddresses.Edit")</h1>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                var validationSummary = Html.ValidationSummary(true);

                if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                {
                    <div class="message-error">
                        @validationSummary
                    </div>
                }

                var dataDictAddress = new ViewDataDictionary();
                //Merge ModelState (required for validation)
                dataDictAddress.ModelState.Merge(ViewData.ModelState);
                dataDictAddress.TemplateInfo.HtmlFieldPrefix = "Address";
                @Html.Partial("_CreateOrUpdateAddress", Model.Address, dataDictAddress)


                <div class="col-md-12 col-sm-5">
                    <div class="form-group mt-50 mb-default">
                        <div class="buttons">
                            <button type="submit" class="btn btn-default" value="Update">Update</button>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-6 address-book">
            @Html.Action("Addresses")
        </div>
    </div>


    @*<div class="row">
        <div id="accordion" role="tablist">
            <div class="card">
                <div class="card-header account__address" role="tab" id="headingTwo">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            @T("Account.CustomerAddresses.Edit")
                        </a>
                    </h5>
                </div>
            </div>
            <div id="collapseTwo" class="collapse active" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                var validationSummary = Html.ValidationSummary(true);

                                if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                                {
                                    <div class="message-error">
                                        @validationSummary
                                    </div>
                                }

                                var dataDictAddress = new ViewDataDictionary();
                                //Merge ModelState (required for validation)
                                dataDictAddress.ModelState.Merge(ViewData.ModelState);
                                dataDictAddress.TemplateInfo.HtmlFieldPrefix = "Address";
                                @Html.Partial("_CreateOrUpdateAddress", Model.Address, dataDictAddress)


                                <div class="col-md-12 col-sm-5">
                                    <div class="form-group mt-50 mb-default">
                                        <div class="buttons">
                                            <input type="submit" class="btn btn-default" value="Update" />
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header account__address" role="tab" id="headingThree">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Select your default address
                        </a>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        @Html.Action("Addresses")
                    </div>
                </div>
            </div>
        </div>
    </div>*@
</section>

    @section scripts
{
        @Scripts.Render("~/bundles/jqueryval")
    }
