@model PasswordRecoveryConfirmModel
@{

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
}
@using Nop.Web.Models.Customer;


<div class="col-main-sml mt-large forgot-password">

    <h1>@T("Account.PasswordRecovery")</h1>


    @if (!Model.DisablePasswordChanging)
            {
                using (Html.BeginForm())
                {
            @Html.AntiForgeryToken()

            <p>Please enter a new password. You will be automatically redirected  to your account once it has been reset.</p>
                    <div class="fieldset">
                        <div class="form-group">
                            @Html.EditorFor(model => model.NewPassword, new { @class = "form-control", placeholder = "Password" })
                            @Html.ValidationMessageFor(model => model.NewPassword)
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.ConfirmNewPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                            @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
                        </div>
                    </div>
                    <div class="buttons">
                        <button type="submit" name="set-password" class="btn btn-default">Reset Password</button>
                    </div>
        }
    }

    @if (!String.IsNullOrEmpty(Model.Result))
            {
        <div class="result mt-5">
            @Model.Result
        </div>
    }



</div>
