@model PasswordRecoveryModel
@using Nop.Web.Models.Customer;
@{

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
}


<div class="col-main-sml mt-large forgot-password">

    <h1>@T("Account.PasswordRecovery")</h1>

   
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <p>@T("Account.PasswordRecovery.Tooltip")</p>
                    <div class="fieldset">
                            <div class="form-fields">
                                <div class="inputs">
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Email Address" })
                                    @Html.ValidationMessageFor(model => model.Email)
                                </div>
                            </div>
                        </div>
        <div class="mt-4">
          <button type="submit" name="send-email" class="btn btn-default" value="@T("Account.PasswordRecovery.RecoverButton")">@T("Account.PasswordRecovery.RecoverButton")</button>
        </div>
    }

    @if (!String.IsNullOrEmpty(Model.Result))
    {
        <p class="result mt-5">
            @Model.Result
        </p>
    }

</div>


